* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    padding: 28px;
    font-size: 16px;
}
.header {
    height: 95vh;
    background-image: linear-gradient(to right, rgba(248, 196, 187, 0.85), rgba(255, 87, 51, 0.85)),
     url(../img/bg-pic-header4-modified.png);
    background-size: cover;
    background-position: top;
} 
.logo-box {
    position: absolute;
    top: 50px;
    left: 60px;
}
.logo {
    height: 50px;
    width: 50px;
}
.logo:hover {
    transition: 1.5s ease;
    transform: rotate(360deg);
}
.text-box {
    position: absolute;
    top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.primary-heading {
    color: #ffffff;
    backface-visibility: hidden;
    margin-bottom: 30px;
}
.primary-heading-main {
    display: block;
    font-size: 60px;
    letter-spacing: 10px;
    animation: moveInLeft 1.5s ease-out;
}
.primary-heading-sub {
    display: block;
    font-size: 20px;
    letter-spacing: 10.5px;
    text-transform: uppercase;
    animation: moveInRight 1.5s ease-out;
    /* box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.2); */
    font-weight: 700;
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    75% {
        transform: translateX(15px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    75% {
        transform: translateX(-15px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.btn:link, .btn:visited {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Dancing Script', cursive;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
    transition: all 0.2s;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12);
} 
.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0,0,0,0.35);
}
.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}
.btn-lightGold {
    background-color: rgb(252, 252, 228);
    color: midnightblue;
    font-weight: 900;
    font-size: 18px;
    animation: moveInBottom 1.2s ease-out 0.5s backwards;
}


.credits {
    font-size: 6px;
    text-align: center;
}
